.main-container {
  padding-left: 70px;
  padding-right: 70px;
}

@media screen and (max-width: 1023px) {
  .main-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .main-container {
    padding-left: 18px;
    padding-right: 18px;
  }
}
