.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 410px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.profile__greeting {
  margin-top: 74px;
  margin-bottom: 123px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.profile__container {
  position: relative;
  width: 100%;
}

.profile__form-label {
  position: absolute;
  top: 27px;
  font-size: 11px;
  line-height: 13px;
}

.profile__form-input {
  width: 100%;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 26px;
  text-align: right;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #424242;
  font-family: Inter, Arial, sans-serif;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  box-sizing: border-box;
  outline: none;
}

.profile__form-input_type_name {
  padding-left: 30px;
}

.profile__form-input_type_email {
  padding-left: 40px;
  border-bottom: none;
}

.profile__form-error {
  position: absolute;
  top: 67px;
  left: 0;
  color: #EE3465;
  visibility: hidden;
  font-size: 10px;
  line-height: 1.2;
}

.profile__form-error_visible {
  visibility: visible;
}

.profile__button {
  padding: 0;
  background-color: inherit;
  border: none;
  font-size: 13px;
  line-height: 16px;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.profile__button:hover {
  opacity: 0.6;
}

.profile__button_type_edit {
  margin-top: 204px;
  color: #ffffff;
}

.profile__button_type_logout {
  margin-top: 16px;
  font-weight: 500;
  color: #EE3465;
}

.profile__button_disabled {
  opacity: 0.6;
  cursor: inherit;
}

.profile__submit-error {
  position: absolute;
  bottom: 60px;
  font-size: 11px;
  line-height: 13px;
  color: #EE3465;
  visibility: hidden;
}

.profile__submit-error_visible {
  visibility: visible;
}

.profile__submit-success {
  position: absolute;
  bottom: 60px;
  font-size: 11px;
  line-height: 13px;
  color: #3DDC84;
  visibility: hidden;
}

.profile__submit-success_visible {
  visibility: visible;
}

@media screen and (max-width: 1023px) {
  .profile {
    padding-bottom: 269px;
  }

  .profile__greeting {
    margin-top: 236px;
    margin-bottom: 96px;
  }

  .profile__button_type_edit {
    margin-top: 194px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    max-width: 260px;
    padding-bottom: 40px;
  }

  .profile__greeting {
    margin-top: 70px;
    margin-bottom: 80px;
  }

  .profile__button_type_edit {
    margin-top: 363px;
  }
}
