.header {
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  align-items: center;
  position: relative;
}

.header_main {
  background-color: #073042;
}

.header__logo {
  background-image: url("../../images/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 38px;
  width: 38px;
  display: block;
  opacity: 1;
  transition: opacity 0.2s linear;
  position: absolute;
}

.header__logo:hover {
  opacity: 0.6;
}

.header__right-side {
  margin-right: 0;
  margin-left: auto;
  padding-top: 28px;
  padding-bottom: 28px;
}

.header__register {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  margin-right: 30px;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.header__register:hover {
  opacity: 0.6;
}

.header__login {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  padding: 8px 20px;
  background-color: #3DDC84;
  border-radius: 3px;
  opacity: 1;
  transition: opacity 0.2s linear;
  box-sizing: border-box;
}

.header__login:hover {
  opacity: 0.6;
}

.header__mid-side {
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 28px;
}

.header__movies {
  margin-right: 8px;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.header__saved-movies {
  margin-left: 8px;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.header__account {
  position: absolute;
  right: 70px;
  display: flex;
  align-items: center;
}

.header__account-title {
  margin-right: 13px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header__account__logo {
  background-image: url("../../images/account-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #313131;
  border-radius: 6px;
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1023px) {
  .header{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .header{
    padding-left: 14px;
    padding-right: 14px;
  }

  .header__register {
    font-size: 10px;
    margin-right: 14px;
  }

  .header__login {
    font-size: 10px;
    padding: 7px 12px;
  }
}

