.header {
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  background-image: url("../../images/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 38px;
  width: 38px;
  display: block;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.header__logo:hover {
  opacity: 0.6;
}

.header__register-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  margin-right: 30px;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.header__register-link:hover {
  opacity: 0.6;
}

.header__login-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  padding: 8px 20px;
  background-color: #3DDC84;
  border-radius: 3px;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.header__login-link:hover {
  opacity: 0.6;
}


