.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 79px;
  padding-bottom: 20px;
}

.footer__container {
  padding-left: 70px;
  padding-right: 70px;
}

.footer__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #424242;
  font-size: 13px;
  line-height: 16px;
  color: #8B8B8B;
}

.footer__info {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
}

.footer__copyrights {
  margin-top: 0;
  margin-bottom: 0;
}

.footer__link {
  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.footer__link:hover {
  opacity: 0.6;
}

.footer__link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1023px) {
  .footer__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-bottom: 10px;
  }

  .footer__container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 1.25;
  }

  .footer__info {
    padding-top: 30px;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 12px;
    line-height: 1.25;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__link {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .footer__link:last-child {
    margin-bottom: 30px;
  }

  .footer__copyrights {
    color: #8B8B8B;
  }
}
